html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    background-color: #090920;
    opacity: 1;
    background-image: radial-gradient(circle, #090a0f8e, #09090c20, #04050820, #0f131c20, #0e141e20, #01020220, #0d131c20, #0c121b20, #0b0f17, #02030520, #06090f20, #08090a20);
    background-size: 2rem 2rem;
    background-position: 0 0, 2px 2px;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    max-width: 90vw;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: space-around;
    scroll-behavior: smooth;
}
